<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DnsClient" version="1.7.0" targetFramework="net48" />
  <package id="MaterialSkin.2" version="2.3.1" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="7.0.0" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="5.0.0" targetFramework="net48" />
  <package id="Polly" version="7.2.3" targetFramework="net48" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net48" />
  <package id="System.Memory" version="4.5.5" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net48" />
  <package id="System.Reactive" version="6.0.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="7.0.0" targetFramework="net48" />
  <package id="System.Text.Json" version="7.0.2" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="XmppDotNet" version="3.2.4" targetFramework="net48" />
  <package id="XmppDotNet.Core" version="3.2.4" targetFramework="net48" />
  <package id="XmppDotNet.Extensions" version="3.2.4" targetFramework="net48" />
  <package id="XmppDotNet.Srv" version="3.2.4" targetFramework="net48" />
  <package id="XmppDotNet.Transport.Socket" version="3.2.4" targetFramework="net48" />
  <package id="XmppDotNet.Transport.WebSocket" version="3.2.4" targetFramework="net48" />
</packages>